<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [143]:
import pandas as pd

Load the dataset into a dataframe.

In [144]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [145]:
len(df[df.duplicated()])

154

 Find how many duplicate rows exist in the Respondent.

In [146]:
len(df[df["Respondent"].duplicated()])

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [147]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [148]:
df.shape

(11398, 85)

Find uniques numbers of row in Respondent

In [149]:
df["Respondent"].nunique()

11398

## Finding Missing values

Find the missing values for all columns.

In [150]:
missing_val = df.isnull()
for columns in missing_val.columns:
    print(columns,":", missing_val[columns].sum(), "Missing values")
    print("")

Respondent : 0 Missing values

MainBranch : 0 Missing values

Hobbyist : 0 Missing values

OpenSourcer : 0 Missing values

OpenSource : 81 Missing values

Employment : 0 Missing values

Country : 0 Missing values

Student : 51 Missing values

EdLevel : 112 Missing values

UndergradMajor : 737 Missing values

EduOther : 164 Missing values

OrgSize : 96 Missing values

DevType : 65 Missing values

YearsCode : 9 Missing values

Age1stCode : 13 Missing values

YearsCodePro : 16 Missing values

CareerSat : 0 Missing values

JobSat : 1 Missing values

MgrIdiot : 493 Missing values

MgrMoney : 497 Missing values

MgrWant : 493 Missing values

JobSeek : 0 Missing values

LastHireDate : 0 Missing values

LastInt : 413 Missing values

FizzBuzz : 37 Missing values

JobFactors : 3 Missing values

ResumeUpdate : 39 Missing values

CurrencySymbol : 0 Missing values

CurrencyDesc : 0 Missing values

CompTotal : 809 Missing values

CompFreq : 206 Missing values

ConvertedComp : 816 Missing values

WorkWeekHrs : 122 Missing values

WorkPlan : 121 Missing values

WorkChallenge : 164 Missing values

WorkRemote : 8 Missing values

WorkLoc : 32 Missing values

ImpSyn : 5 Missing values

CodeRev : 1 Missing values

CodeRevHrs : 2426 Missing values

UnitTests : 29 Missing values

PurchaseHow : 196 Missing values

PurchaseWhat : 38 Missing values

LanguageWorkedWith : 11 Missing values

LanguageDesireNextYear : 134 Missing values

DatabaseWorkedWith : 453 Missing values

DatabaseDesireNextYear : 1042 Missing values

PlatformWorkedWith : 411 Missing values

PlatformDesireNextYear : 544 Missing values

WebFrameWorkedWith : 1393 Missing values

WebFrameDesireNextYear : 1617 Missing values

MiscTechWorkedWith : 2182 Missing values

MiscTechDesireNextYear : 1455 Missing values

DevEnviron : 29 Missing values

OpSys : 34 Missing values

Containers : 82 Missing values

BlockchainOrg : 2322 Missing values

BlockchainIs : 2610 Missing values

BetterLife : 98 Missing values

ITperson : 35 Missing values

OffOn : 38 Missing values

SocialMedia : 293 Missing values

Extraversion : 20 Missing values

ScreenName : 507 Missing values

SOVisit1st : 325 Missing values

SOVisitFreq : 5 Missing values

SOVisitTo : 1 Missing values

SOFindAnswer : 3 Missing values

SOTimeSaved : 50 Missing values

SOHowMuchTime : 1917 Missing values

SOAccount : 1 Missing values

SOPartFreq : 1128 Missing values

SOJobs : 6 Missing values

EntTeams : 5 Missing values

SOComm : 0 Missing values

WelcomeChange : 85 Missing values

SONewContent : 1965 Missing values

Age : 287 Missing values

Gender : 73 Missing values

Trans : 123 Missing values

Sexuality : 542 Missing values

Ethnicity : 675 Missing values

Dependents : 140 Missing values

SurveyLength : 19 Missing values

SurveyEase : 14 Missing values

Find out how many rows are missing in the column 'WorkLoc'

In [151]:
df["WorkLoc"].isnull().sum()

32

Find out how many rows are missing in the column 'Country'

In [152]:
df["Country"].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [153]:
df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Find the category which has minimum number of rows for the column 'UndergradMajor'

In [154]:
df["UndergradMajor"].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [155]:
# "office" is a most frequently observed in WorkLoc column of dataframe df.
df["WorkLoc"].mode()

0    Office
dtype: object

What is the majority category under 'Employment'

In [156]:
df["Employment"].mode()

0    Employed full-time
dtype: object

Whats is the best way to impute missing values for column 'ConvertedComp'

In [157]:
df["ConvertedComp"].min(), df["ConvertedComp"].median(), df["ConvertedComp"].mean(), df["ConvertedComp"].max()

(0.0, 57745.0, 131596.7316197316, 2000000.0)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [158]:
import numpy as np
freq = df["WorkLoc"].mode()[0]  #[0] select 0 index which is 'Office'
df["WorkLoc"].replace(np.NaN, freq, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [159]:
df["WorkLoc"].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [160]:
df["CompFreq"].unique().tolist()

['Yearly', 'Monthly', 'Weekly', nan]

How many 'Respondent' are being paid yearly

In [161]:
len(df[df["CompFreq"] == "Yearly"])

6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [162]:
df['NormalizedAnnualCompensation'] = np.nan
for index, (row, total) in enumerate(zip(df["CompFreq"], df["CompTotal"])):
    if row == 'Yearly':
        df.loc[index, 'NormalizedAnnualCompensation'] = total
    elif row == 'Monthly':
        df.loc[index, 'NormalizedAnnualCompensation'] = 12*total
    elif row == 'Weekly':
        df.loc[index, 'NormalizedAnnualCompensation'] = 52*total

What are top 5 rows of NormalizedAnnualCompensation?

In [163]:
df['NormalizedAnnualCompensation'].head()

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormalizedAnnualCompensation, dtype: float64

What is the median NormalizedAnnualCompensation?

In [164]:
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).