<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [22]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [23]:
!pip3 install html5lib

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from html5lib) (0.5.1)

In [24]:
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.6.4)

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import html5lib

Download the webpage at the url

In [28]:
html_data = requests.get(url).text

Create a soup object

In [27]:
soup = BeautifulSoup(html_data, 'html5lib')

soup_table = soup.find_all("table")[0]

Scrape the `Language name` and `annual average salary`.

In [33]:
ppl = pd.DataFrame(columns=["Language name", "annual average salary"])

for row  in soup_table.find("tbody").find_all("tr")[1:]:   #[1:] used to avoid column headers in the output
    col = row.find_all("td")
    language = col[1].text
    avgsal = col[3].text
    ppl = ppl.append({"Language name": language, "annual average salary":avgsal}, ignore_index=True)
ppl.head()

  Language name annual average salary
0        Python              $114,383
1          Java              $101,013
2             R               $92,037
3    Javascript              $110,981
4         Swift              $130,801

Save the scrapped data into a file named *popular-languages.csv*

In [34]:
ppl.to_csv("popular-languages.csv")

## Parsing html data using pandas

In [55]:
df = pd.read_html(url, flavor='bs4', header=0)[0]
df.drop(["No.", "Created By", "Learning Difficulty"], axis=1, inplace=True)
df.rename(columns={"Language":"Language name","Average Annual Salary":"annual average salary"}, inplace=True)
df.head()

  Language name annual average salary
0        Python              $114,383
1          Java              $101,013
2             R               $92,037
3    Javascript              $110,981
4         Swift              $130,801

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).